<!DOCTYPE html>
<!-- saved from url=(0044)https://getbootstrap.com/examples/dashboard/ -->
<html lang="en">

<head>
    <%- include('../load'); %>

        <style>
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }
            
            .nav>li>a {
                text-align: left !important;
                position: relative !important;
                display: block !important;
                height: 50px !important;
            }

        </style>
</head>

<body>
    <%- include('../navbar', {search_on: true,active:3,page:"/qna/search"}); %>
        <div id="qna-container" style=" /* margin: 10%; */
 margin-top: 60px; margin-bottom: 60px; margin-left: 10%; margin-right: 10%;">
            <div style="border-color: #EAEAEA; border-style: solid;padding: 40px;">
                <div class="end_question  _end_wrap_box">
                    <!-- 타이틀 -->
                    <table>
                        <tr>
                            <td rowspan="2">
                                <div style=" color: #fff; text-align: center; width: 60px; height:60px; background-color:#ffa000; margin-right: 20px; font-size: 25px; border-radius: 50%; padding: 10px; ">Q</div>
                            </td>
                            <td>
                                <h3 style=" margin: 0;">asdf</h3>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/image/user.png" style=" width: 20px; margin-right: 5px;"><a href="/my/post">구자민</a></td>
                            <td style=" width: 10px;"></td>
                            <td>2000.00.00</td>
                        </tr>
                    </table>
                    <!-- 컨텐츠 -->
                    <div class="_endContentsText" style="margin-top: 20px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"> ㅁㄴㅇㄹㅇㅁㄴㄹㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㄹㅇㄴㄹ </div>
                </div>
                <div id="qna_detail_question_commentAndMenu">
                    <div class="btn_wrap" style=" margin-top: 50px;">
                        <!--       float: right;--><a href="/qna/edit" style=" color: white; background-color: #ffa000; padding: 10px; padding-left: 20px; padding-right: 20px;">답변하기</a> </div>
                </div>
            </div>
            <div style=" margin-top: 50px;"> 총 <span style=" font-size: 20px; color: #ffa000;">1</span><span style=" font-size: 20px; color: #ffa000;">개</span>의 답변이 있습니다. </div>
            <div style="border-color: #EAEAEA; border-style: solid;padding: 40px;">
                <div class="end_question  _end_wrap_box">
                    <!-- 타이틀 -->
                    <table>
                        <tr>
                            <td rowspan="2">
                                <div style=" color: #fff; text-align: center; width: 60px; height:60px; background-color:#75D557; margin-right: 20px; font-size: 25px; border-radius: 50%; padding: 10px; ">A</div>
                            </td>
                            <td>
                                <h3 style=" margin: 0;">asdf</h3>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="/image/user.png" style=" width: 20px; margin-right: 5px;"><a href="/my/post">구자민</a></td>
                            <td style=" width: 10px;"></td>
                            <td>2000.00.00</td>
                        </tr>
                    </table>
                    <!-- 컨텐츠 -->
                    <div class="_endContentsText" style="margin-top: 20px;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"> ㅁㄴㅇㄹㄴㅇㄹㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㅇㄹㅁㄴㄹㄴㅁㅇㄹㅁㄴㄹㄴㅁㅇㄹㄴㅁㄴㅇㄹ </div>
                </div>
            </div>
        </div>
</body>

</html>
