        </textarea>
        <div class="col-md-6 full-height" id="markdown" style="    padding-top: 10px;    padding-bottom: 10px;    width: 50%;    float: left;"></div>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.4.4/showdown.min.js"></script>
    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="/JS/script.js"></script>

</body>
</html>
