<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/image/logo.png">
<title>Codination</title>
<!-- Bootstrap core CSS -->
<link href="/CSS/base.css" rel="stylesheet">
<link href="/CSS/docs.min.css" rel="stylesheet">
<script src="/JS/jquery.min.js"></script>
<script src="/JS/bootstrap.min.js"></script>
<script src="/JS/offcanvas.js"></script>
<script src="/JS/holder.min.js"></script>
<style>
    @media (max-width: 768px) {
        .navbar-form {
            width: 95%;
        }
    }
    
    @media (max-width: 768px) {
        #logo {
            display: none
        }
    }
    
    @media (max-width: 480px) {
        .content-container {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 20px;
        }
    }
    
    @media (max-width: 360px) {
        #logo {
            display: none
        }
    }

</style>
