.navbar-form {
            width: 30%;
        }
        
        @media (max-width: 768px) {
            .navbar-form {
                width: 95%;
            }
        }
        @media (max-width: 768px) {
           
            #logo{
                display: none
            }
        }