<!--이미지 처리-->
<!DOCTYPE html>
<!-- saved from url=(0044)https://getbootstrap.com/examples/dashboard/ -->
<html lang="en">

<head>
    <%- include("../load"); %>
        <link href="/CSS/seriesCicked.css" rel="stylesheet">
        <link href="/CSS/AfterSeriesClicked.css" rel="stylesheet">

        <style>
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }
            
            .navbar-form {
                width: 30%;
            }
            
            @media (max-width: 768px) {
                .navbar-form {
                    width: 95%;
                }
            }
            
            @media (max-width: 768px) {
                #logo {
                    display: none
                }
            }

        </style>
</head>

<body>
    <%- include('../navbar', {search_on: false,active:0}); %>
        <div>
            <div class="woodBg">
                <div class="woodIn">
                    <div class="subTitle"> <span style="font-size: large;">박상천 님의 시리즈</span> </div>
                    <div class="mainTitle">
                        <h1 style="font-size:xx-large;">대회, 컨퍼런스</h1>
                    </div>
                </div>
            </div>
            <div class="subHeader">
                <div> <span class="subHeaderMenu" style="
  padding-bottom: 12px;
"><a href="/my/profile" style="color: #fff;">프로필</a></span>
                    <span class="subHeaderMenu" style="
padding-bottom: 12px;
"><a href="/my/post" style="color: #fff;">포스트</a></span>
                    <span class="subHeaderMenu" style="
padding-bottom: 12px;
 border-bottom-style: solid;                                  
"><a href="/my/series" style="color: #fff;">시리즈</a></span>
                    <span class="subHeaderMenu" style="
padding-bottom: 12px;
"><a href="/my/tutorial" style="color: #fff;">튜토리얼</a></span>

                </div>
            </div>
            <div style="
    padding-top: 30px;
">
                <div class="media">
                    <div class="cardHeader">
                        <div>
                            <div>
                                <h4>IoT 장비의 역습…디도스 공격에 美 인터넷 마비 </h4>
                            </div>
                            <div style="
    text-align: right;
    font-size: 12px;
    color: #949494;
">2016.11.02 </div>
                        </div>
                    </div>
                    <div class="cardBody">
                        <p class="text"> 10월 21일 미국인터넷 도메인 사이트 딘(dyn)이 대규모 디도스 공격을 받아서 아마존, 트위터, 넷플릭스, 페이팔, 뉴욕타임스 등 수십 개의 주요 웹사이트들이 수 시간 가량 접속이 불가능하거나 지연됐다. [출처] IoT 장비의 역습…디도스 공격에 美 인터넷 마비 </p>
                    </div>
                    <div class="cardFooter"> <span style="
    margin-right: 2%;
"><img src="/image/heart.png"><span style="margin-left: 1%;color:#B8B8B8;">0</span></span> <span style="
    margin-right: 2%;
"><img src="/image/conversation.png"><span style="margin-left: 1%;color:#B8B8B8;">1</span></span> <span><img src="/image/export.png"></span> </div>
                </div>
                <div class="media">
                    <div class="cardHeader">
                        <div>
                            <div>
                                <h4>WHITHCON 컨퍼런스</h4>
                            </div>
                            <div style="
    text-align: right;
    font-size: 12px;
    color: #949494;
">2016.11.02</div>
                        </div>
                    </div>
                    <div class="cardBody">
                        <p class="text">세종대 정보 보안 학과 세종대학교 보안동아리인 S!(Security Factorial)이 나와 요즘 핫이슈인 iot 관련 해킹시연을 했습니다 해킹시연 시나리오는 피해자의 핸드폰에 악성파일인 apk를 다운받아 피해자의 메세지&연락처를 탈취하고 카메라로 사진을 찍어 연결되있는 프린터기로 사진을 출력해 협박하는 문자를 보낸다 입니다. </p>
                    </div>
                    <div class="cardFooter"> <span style="
    margin-right: 2%;
"><img src="/image/heart.png"><span style="margin-left: 1%;color:#B8B8B8;">0</span></span> <span style="
    margin-right: 2%;
"><img src="/image/conversation.png"><span style="margin-left: 1%;color:#B8B8B8;">1</span></span> <span><img src="/image/export.png"></span> </div>
                </div>
            </div>
        </div>
</body>

</html>
