<html lang="en">

<head>
    <%- include('../load'); %>
        <style>
            .navbar-nav>li>a {
                color: #777 !important;
            }
            
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }

        </style>
</head>

<body style="    background-color: #EDEDED;">
    <%- include('../navbar', {search_on: true,active:2,page:"/dictionary/search"}); %>
        <div class="container" style="    background-color: #fff;    margin-top: 30px;">
            <div>
                <h2>python</h2>
                <p>python의 창시자는 귀도 판 로썸(Guido van Rossum). 1989년 크리스마스 주에, 연구실이 닫혀있어서 심심한 김에 만들었다. 파이선 서문과 마이크로소프트웨어와 한 인터뷰를 보면 알겠지만 사실이다.(…) 공돌이들은 심심할 때 항상 걸작이 나온다.리눅스도 그렇고..</p>
            </div>
            <div style="    border-top-style: solid;    border-bottom-style: solid;    border-width: 1px;    border-color: #EDEDED;">
                <h4>사용법</h4>
                <p>print('hello world!')</p>
            </div>
            <div style="    margin-bottom: 20px;">
                <h4>설치</h4>
                <p>1. 다음을 따라하세요.</p> <img src="/image/py_install.png"> </div>
        </div>
</body>

</html>
