<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../load'); %>
        <link href="/CSS/blogUpload.css" rel="stylesheet">
        <style>
            .navbar-nav>li>a {
                color: #777 !important;
            }
            
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }

        </style>
</head>

<body style="padding-bottom: 40px;background-color: #F5F5F5;">
    <%- include('../navbar', {search_on: true,active:1,page:"/tutorial/search"}); %>
        <div>
            <div class="woodBg">
                <div class="userImage"> <img id="profil" src="/image/user2.png" style="display: block; margin: 0 auto;"> </div>
                <div class="userName">
                    <p id="userInfo-name">구자민</p>
                </div>
                <div style="
    display: flex;
    height: 60px;
    text-align: center;
   ">
                    <div style="
    display: block;
    margin: 0 auto;
    /* background-color: white; */
"> <span class="userOption">1
                <br>팔로워</span> <span class="userOption">1
                <br>팔로잉</span> <span class="userOption">1
                <br>포스트</span> </div>
                </div>
            </div>
            <div style="
    margin-top: 40px;
    margin-bottom: 35px;
">
                <h3 style="
    text-align: center;">내 강의</h3>
                <hr style="
    width: 55px;
    border-color: #000;
">
            </div>
            <div class="row" style="
    padding-left: 10%;
    background-color: #F5F5F5;
    padding-right: 10%;
    ">
                <div class="col-xs-4" style="
    text-align: center;
">
                    <div class="card" style="
    padding: 15px;
    background-color: #fff;
"> <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png" alt="Card image cap" style="
    width: 100%;">
                        <div class="card-block" style="
    margin-top: 10px;
">
                            <h4 class="card-title" style="
    font-size: 20px;
    margin-bottom: 10px;
">nodejs 마스터 강좌</h4> <a href="#" class="btn btn-default">보러가기</a> </div>
                    </div>
                </div>
                <div class="col-xs-4" style="
    text-align: center;
">
                    <div class="card" style="
    padding: 15px;
    background-color: #fff;
"> <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png" alt="Card image cap" style="
    width: 100%;">
                        <div class="card-block" style="
    margin-top: 10px;
">
                            <h4 class="card-title" style="
    font-size: 20px;
    margin-bottom: 10px;
">nodejs 마스터 강좌</h4> <a href="#" class="btn btn-default">보러가기</a> </div>
                    </div>
                </div>
                <div class="col-xs-4" style="
    text-align: center;
">
                    <div class="card" style="
    padding: 15px;
    background-color: #fff;
"> <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/2000px-Node.js_logo.svg.png" alt="Card image cap" style="
    width: 100%;">
                        <div class="card-block" style="
    margin-top: 10px;
">
                            <h4 class="card-title" style="
    font-size: 20px;
    margin-bottom: 10px;
">nodejs 마스터 강좌</h4> <a href="#" class="btn btn-default">보러가기</a> </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
