<html lang="en">

<head>
    <%- include('../load'); %>
        <style>
            .navbar-nav>li>a {
                color: #777 !important;
            }
            
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }
            
            .img-fluid {
                width: 150px;
                height: 150px;
            }
            
            .jumbotron {}
            
            .media-middle {
                padding-right: 20px;
            }

        </style>
</head>

<body style="padding-top: 0;background-color: #F5F5F5;">
    <%- include('../navbar', {search_on: true,active:1,page:"/tutorial/search"}); %>
        <!-- /.navbar -->
        <div class="container">
            <div class="jumbotron" style="margin-top: 15px;padding-right: 25px;padding-left: 25px;padding-top: 15px;background-color: #fff;">
                <p>추천 강좌</p>
                <div class="row" style="text-align: center;">
                    <div class="col-lg-4">
                        <div style="    position: relative;    overflow: hidden;    height: 150px;    background-color: #fff;    margin: 10px;"><img src="https://i.ytimg.com/vi/Wz2klMXDqF4/hqdefault.jpg" alt="Responsive image" style="    top: -9999px;    bottom: -9999px;    left: -9999px;    right: -9999px;    position: absolute;    margin: auto;    height: 100%;    width: auto;  " class="img-rounded"></div>
                        <h3>CSS 기초강좌</h3>
                        <p style="    font-size: 15px;">CSS는 옷과 액세서리 같은 꾸미는 역할을 담당합니다. 간단한 CSS로 아름다운 웹사이트를 만들어봅시다</p>
                        <p><a class="btn btn-default" href="/tutorial/contents" role="button">강좌 보러가기 »</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div style="    position: relative;    overflow: hidden;    height: 150px;    background-color: #fff;    margin: 10px;"><img src="http://nv1.tveta.naver.net/libs/1134/1134285/20161107115323-jlzVdRlK.png" alt="Responsive image" style="    top: -9999px;    bottom: -9999px;    left: -9999px;    right: -9999px;    position: absolute;    margin: auto;    height: 100%;    width: auto;  " class="img-rounded"></div>
                        <h3>CSS 기초강좌</h3>
                        <p style="    font-size: 15px;">CSS는 옷과 액세서리 같은 꾸미는 역할을 담당합니다. 간단한 CSS로 아름다운 웹사이트를 만들어봅시다</p>
                        <p><a class="btn btn-default" href="/tutorial/contents" role="button">강좌 보러가기 »</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <div style="    position: relative;    overflow: hidden;    height: 150px;    background-color: #fff;    margin: 10px;"><img src="http://nv1.tveta.naver.net/libs/1134/1134285/20161107115323-jlzVdRlK.png" alt="Responsive image" style="    top: -9999px;    bottom: -9999px;    left: -9999px;    right: -9999px;    position: absolute;    margin: auto;    height: 100%;    width: auto;  " class="img-rounded"></div>
                        <h3>CSS 기초강좌</h3>
                        <p style="    font-size: 15px;">CSS는 옷과 액세서리 같은 꾸미는 역할을 담당합니다. 간단한 CSS로 아름다운 웹사이트를 만들어봅시다</p>
                        <p><a class="btn btn-default" href="/tutorial/contents" role="button">강좌 보러가기 »</a></p>
                    </div>
                    <!-- /.col-lg-4 -->
                </div>

            </div>
            <div class="row row-offcanvas row-offcanvas-right">
                <div class="col-sm-9">
                    <div class="jumbotron" style="padding-right: 25px;padding-left: 25px;padding-top: 15px;background-color: #fff;/* margin: 0; */">
                        <div>
                            <p><a href="/tutorial/my">내 강좌</a></p>
                            <div style="margin-bottom: 30px;">
                                <div class="row featurette">
                                    <div class="col-md-7 col-md-push-5">
                                        <h2 class="featurette-heading" style="    font-size: 25px;">단기간 공부로 파이썬 마스터하기<br> </h2>
                                        <h4>
                                            <div class="text-muted">오정식</div>
                                        </h4>
                                        <h5>
                                            <div class="text-muted">2016.8.15</div>
                                        </h5>
                                        <p style="    font-size: 15px;">초보자들도 쉽게 따라할 수 있는 다양한 예제로 파이썬을 마스터 해봅시다</p>
                                        <div>

                                            <button style="    margin-bottom: 10px;" type="button" class="btn btn-default" onclick="location.href='tutorial/contents';">Go to course</button></div>
                                    </div>

                                    <div class="col-md-5 col-md-pull-7"> <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/image/python.png" data-holder-rendered="true"> </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 30px;">
                                <div class="row featurette">
                                    <div class="col-md-7 col-md-push-5">
                                        <h2 class="featurette-heading" style="    font-size: 25px;">단기간 공부로 파이썬 마스터하기<br> </h2>
                                        <h4>
                                            <div class="text-muted">오정식</div>
                                        </h4>
                                        <h5>
                                            <div class="text-muted">2016.8.15</div>
                                        </h5>
                                        <p style="    font-size: 15px;">초보자들도 쉽게 따라할 수 있는 다양한 예제로 파이썬을 마스터 해봅시다</p>
                                        <div>

                                            <button onclick="location.href='/tutorial/contents';" style="    margin-bottom: 10px;" type="button" class="btn btn-default">Go to course</button></div>
                                    </div>

                                    <div class="col-md-5 col-md-pull-7"> <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="500x500" src="/image/python.png" data-holder-rendered="true"> </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--/.col-xs-12.col-sm-9-->
                <div class=" col-sm-3 " id="sidebar" style="padding-top: 10px;background-color: #fff;padding-bottom: 10px;">
                    <div style="padding-bottom: 10px;border-bottom-style: solid;border-width: 1px;border-color: #EDEDED;"> <span>
                    <img src="/image/user.png" style="margin-right: 10px;"></span><span style="font-size: large;">구자민</span></div>
                    <div style="margin-top: 10px;">
                        <button onclick="location.href='tutorial/contents';" type="button" class="btn btn-default" style="    margin-bottom: 10px;    width: 100%;">java 심화강좌</button>
                        <button onclick="location.href='tutorial/contents';" type="button" class="btn btn-default" style="    margin-bottom: 10px;    width: 100%;">java 심화강좌</button>
                        <button onclick="location.href='tutorial/contents';" type="button" class="btn btn-default" style="    margin-bottom: 10px;    width: 100%;">java 심화강좌</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
