<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../load'); %>
    <style>
    .sidenav {
        border-right-style: solid;
        margin-top: 102px;
        background-color: #fff;
        height: 100%;
        left: 0;
        overflow-x: hidden;
        padding-top: 60px;
        position: fixed;
        top: 0;
        transition: .5s;
        width: 0;
        z-index: 1;
        border-color: #ededed;
        border-width: 1px;
    }

    .sidenavR {
        border-left-style: solid;
        border-width: 1px;
        border-color: #ededed;
        margin-top: 102px;
        background-color: #fff;
        height: 100%;
        overflow-x: hidden;
        padding-top: 60px;
        position: fixed;
        right: 0;
        top: 0;
        transition: .5s;
        width: 0;
        z-index: 1;
    }


    .sidetext {
        color: #818181;
        display: block;
        font-size: 15px;
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        transition: .3s;
    }

    .sidenavRdiv{
        color: #000;
        display: block;
        font-size: 15px;
        padding: 8px;
        text-decoration: none;
        transition: .3s;
    }
    .sidenavRhelp{
        display: block;
        font-size: 15px;
        padding: 8px;
        background-color:#ededed
    }
    .sidenav a:hover,
    .offcanvas a:focus,
    .sidenavR a:hover,
    .offcanvas a:focus {
        color: #000;
        text-decoration:none;
    }

    .sidenav .closebtn,
    .sidenavR .closebtn {
        color: #818181;
        font-size: 25px;
        margin-left: 50px;
        position: absolute;
        right: 10px;
        top: 0;
    }

    @media screen and max-height 450px {
        .sidenav,
        .sidenavR {
            padding-top: 15px;
        }
        .sidenav a,
        .sidenavR a {
            font-size: 18px;
        }
    }

    #editGhost {
        color: #fff;
        background-color: transparent;
        float: right;
        border-style: solid;
        border-color: #fff;
        border-width: 2px;
    }

    #editGhost:hover {
        color: #ffa000;
        background-color: #fff;
    }
</style>
<!--    checkbox-->
<style>
/*
See the explanation of the animation here:
http://codepen.io/timseverien/pen/yvJkm
*/
@-webkit-keyframes check {
0% {
height: 0;
width: 0;
}
25% {
height: 0;
width: 10px;
}
50% {
height: 20px;
width: 10px;
}
}
@-moz-keyframes check {
0% {
height: 0;
width: 0;
}
25% {
height: 0;
width: 10px;
}
50% {
height: 20px;
width: 10px;
}
}
@-ms-keyframes check {
0% {
height: 0;
width: 0;
}
25% {
height: 0;
width: 10px;
}
50% {
height: 20px;
width: 10px;
}
}
@keyframes check {
0% {
height: 0;
width: 0;
}
25% {
height: 0;
width: 10px;
}
50% {
height: 20px;
width: 10px;
}
}
body {
/*  background-color: #6aa;*/
font-family: 'Lato', sans-serif;
font-weight: 100%;
}


.wrapper {
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
color: #fff;
left: 50%;
position: absolute;
text-align: center;
top: 50%;
}

.checkbox, .checkbox-alt {
background-color: #fff;
display: inline-block;
height: 50px;
margin: 0 0.25em;
width: 50px;
}
.checkbox label, .checkbox-alt label {
display: block;
height: 50px;
position: relative;
width: 50px;
}
.checkbox label:after, .checkbox-alt label:after {
/*
This element has a border on the right, and top. By rotating it looks like a check symbol, but the wrong way. That's why I'm flipping it with scaleX(-1)
*/
-moz-transform: scaleX(-1) rotate(135deg);
-ms-transform: scaleX(-1) rotate(135deg);
-webkit-transform: scaleX(-1) rotate(135deg);
transform: scaleX(-1) rotate(135deg);
/*
I want to position the symbol using the left top, because when increasing the width and height of an object, it expands from the top left corner as well. That is what makes it looks like it's being drawn.
*/
-moz-transform-origin: left top;
-ms-transform-origin: left top;
-webkit-transform-origin: left top;
transform-origin: left top;
border-right: 4px solid #cee;
border-top: 4px solid #cee;
content: '';
display: block;
height: 20px;
left: 14px;
position: absolute;
top: 26px;
width: 10px;
}
.checkbox label:hover:after, .checkbox-alt label:hover:after {
border-color: #bdd;
}
.checkbox input, .checkbox-alt input {
display: none;
}
.checkbox input:checked + label:after, .checkbox-alt input:checked + label:after {
-webkit-animation: check 0.8s;
-moz-animation: check 0.8s;
-o-animation: check 0.8s;
animation: check 0.8s;
border-color: #5bc0de;
}
.checkbox.checkbox-alt label:hover:after, .checkbox-alt.checkbox-alt label:hover:after {
-webkit-animation: check 0.8s ease infinite;
-moz-animation: check 0.8s ease infinite;
-o-animation: check 0.8s ease infinite;
animation: check 0.8s ease infinite;
}
.checkbox.checkbox-alt input:checked + label:after, .checkbox-alt.checkbox-alt input:checked + label:after {
-webkit-animation: none;
-moz-animation: none;
-o-animation: none;
animation: none;
}

h1, h2, h3, h4, h5, h6 {
font-weight: 100;
}

</style>
        <style>
        #qid{
            display:none;
        }
        #helpid{
            display:none;
        }
        #checkid{
            display:none;
        }
    </style>

</head>

<body>
    <%- include('../navbar', {search_on: true,active:1,page:"/tutorial/search"}); %>
        <div id="mySidenav" class="sidenav"> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
            <div style="
    padding: 8px 8px 8px 32px;
"> <span>
        <a href="#" style="
    font-size: 20px;
    color: #000;
    font-weight: 600;
">#자바스크립트 기초</a></span>
                <span> <a href="/tuto_edit" style="color:#818181;
    margin-left: 32px;
    font-size: 25px;
">+ </a></span></div> <a href="#" class="sidetext">자바스크립트란?</a> <a href="#" class="sidetext">변수</a> <a href="#" class="sidetext">주석</a> </div>
<div id="mySidenavR" class="sidenavR"> <a href="javascript:void(0)" class="closebtn" id="closebtnR" onclick="closeNavR()">×</a>
<div style="height: 50px;
color: #fff;
background-color: #ffa000;
font-size: 20px;
" class="sidenavRdiv">
    <button id="editGhost" type="button" class="btn btn-outline-secondary" style="
float: right;
">edit</button>

</div>
<div id="oneques">
<div class="sidenavRdiv">
    <div class="media">

<div class="media-body">
Q1.Print 함수로 "누구나 따라하는 파이썬!"을 출력해보세요
</div>
        <span class="media-right">
                                    <button class="btn btn-info" onclick="checkhelp()" id="next">> </button>

            <div class="checkbox" id="checkid">
<!--                        이히히히히ㅣㅅ 이거 온클릭 디스플레이로 했지롱 히히히히히ㅣ히히-->
<input onclick="getfocus()" type="checkbox" id="cb" name="cb" />
<label for="cb"></label>
</div>


<button class="btn btn-info" id="helpid" >help </button></span>
<a  href="#">


</a>
</div>
</div>
<div class="sidenavRhelp" id="qid">
    "누구나 따라하는 파이썬이 출력되었습니까?"
</div>
   </div>


<div style="margin-top: 15px;
text-align: center;
background-color: #ffa000;
color: #fff;

position: absolute;
bottom: 102px;
width: 100%;
">
    <div>
        <div class="col-xs-6" style="
padding: 10px;
border-style: solid;
">이전</div>
        <div class="col-xs-6" style="
padding: 10px;
border-style: solid;
">다음</div>
    </div>
</div>
</div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="row">
                        <div class="col-xs-1"> <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰</span> </div>
                        <div class="col-xs-8 col-xs-offset-1 col-md-10 col-md-offset-0 text-center">
                            <div style="
    text-align: center;">
                                <h1>자바스크립트 기본</h1>
                                <p>2000.00.00</p>
                            </div>
                            <hr>
                            <div>
                                <p> 자바스크립트는 배우기 쉬운 언어다. 그 이유는 여러 가지가 있겠지만 아는 만큼 사용할 수 있는 언어라는 특성이 제일 크다. 기본 수업은 자바스크립트를 학습하는 데 있어서 최소한으로 알고 있어야 하는 지식을 다룬다. </p>
                                <p> 이것만으로도 자바스크립트로 많은 것을 할 수 있다. 사실 거의 대부분의 일을 할 수 있다. 만약 프로그래밍 초심자라면 가장 기본적인 도구라고 할 수 있는 기본 수업만 보고 호스트 환경(웹브라우저를 제어하는 방법이나, node.js나 google apps script)에 대한 학습을 시작하는 것을 권한다. 본 수업은 언어자체에 대한 수업이기 때문에 이러한 내용은 다루지 않는다. 함수지향이나 객체지향 파트는 코딩에 대해서 어느정도 경험이 갖추어진 후에 보는 것도 좋은 방법이다. </p>
                                <p> 기본 수업의 내용은 현대적인 프로그래밍 언어라면 가지고 있을 법한 기능의 공통분모다. 따라서 이를 이해한다면 다른 언어를 이해하는데도 큰 도움이 받을 수 있다. </p>
                            </div>
                        </div>
                        <div class="col-xs-1"> <span style="font-size:30px;cursor:pointer" onclick="openNavR()">☰</span> </div>
                    </div>
                    <p>Click the Elements to Open the Side Menus.</p>
                </div>
            </div>
        </div>
        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }

            function openNavR() {
                if (document.body.clientWidth < 400) {
                    document.getElementById("mySidenavR").style.width = "100%";
                    document.getElementById("closebtnR").style.display = "none";
                } else {
                    document.getElementById("mySidenavR").style.width = "250px";
                }
            }

            function closeNavR() {
                document.getElementById("mySidenavR").style.width = "0";
            }

        </script>
        <script>
//    function getfocus() {
//
//                            document.getElementById("oneques").style.display = "none";
//
//}
    function checkhelp(){
                    document.getElementById("qid").style.display = "block";
                    document.getElementById("helpid").style.display = "block";
                    document.getElementById("checkid").style.display = "block";
                    document.getElementById("next").style.display = "none";

    }

    </script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function openNavR() {

            if (document.body.clientWidth < 400) {
                document.getElementById("mySidenavR").style.width = "100%";
                document.getElementById("closebtnR").style.display = "none";
            }
            else {
                document.getElementById("mySidenavR").style.width = "250px";
            }
        }

        function closeNavR() {
            document.getElementById("mySidenavR").style.width = "0";
        }
    </script>
</body>

</html>
