<html lang="en">

<head>
    <%- include('../load'); %>
        <style>
            #bs-example-navbar-collapse-1 {
                background-color: whitesmoke;
            }
            
            .navbar-nav>li>a {
                color: #777 !important;
            }
            
            .navbar-form {
                width: 30%;
            }
            
            @media (max-width: 768px) {
                .navbar-form {
                    width: 95%;
                }
            }
            
            @media (max-width: 768px) {
                #logo {
                    display: none
                }
            }
            
            @media (max-width: 480px) {
                .content-container {
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-top: 20px;
                }
            }
            
            @media (max-width: 360px) {
                #logo {
                    display: none
                }
            }
            
            .btn-circle.btn-lg {
                padding: 0;
                text-align: center;
                width: 50px;
                height: 50px;
                font-size: 10px;
                line-height: 1.33;
                border-radius: 25px;
            }

        </style>
</head>

<body style="
    background-color: #EDEDED;
">

    <%- include('../navbar', {search_on: true,active:4}); %>
        <div class="container" style="
    background-color: #fff;
    margin-top: 30px;
">
            <div>
                <h3 style="
    text-align: center;
"><span></span>검색결과<span></span></h3>
            </div>
            <div>
                <p><a style="
    font-size: large;" href="/dictionary/contents">python(파이썬) -프로그래밍 언어</a></p>
                <p>최근 몇 년 사이 프로그래밍을 비전공자들에게 알려주는 문화가 전 세계적으로 확산되고 있다. 하버드나 예일대 같은 해외 대학 뿐만 아니라 카이스트, 국민대, 성균관대 등 국내 대학에서도 프로그래밍 교양 수업이 늘어나는 추세다. 이러한 문화 속에서 함께 주목받는 언어가 있다. ‘파이썬’이다. 간결한 문법으로 입문자가 이해하기 쉽고, 다양한 분야에 활용할 수 있기 때문이다. 이 외에도 파이썬은 머신러닝, 그래픽, 웹 개발 등 여러 업계에서 선호하는 언어로 꾸준히 성장하고 있다... </p>
            </div>
            <div style="
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #EDEDED;
">
                <p><a style="
    font-size: large;" href="/dictionary/contents">git(깃) -소프트웨어</a></p>
                <p>깃(Git /ɡɪt/)은 프로그램 등의 소스 코드 관리를 위한 분산 버전 관리 시스템이다. 기하학적 불변 이론을 바탕으로 설계됐고, 빠른 수행 속도에 중점을 두고 있는 것이 특징이다. 최초에는 리누스 토르발스가 리눅스 커널 개발에 이용하려고 개발하였으며, 현재는 다른 곳에도 널리 사용되고 있다</p>
            </div>
            <div style="
    padding-top: 10px;
    margin-bottom: 20px;
">
                <p><a style="
    font-size: large;" href="/dictionary/contents">github(깃허브) 서비스</a></p>
                <p>깃허브(GitHub, /'ɡɪtˌhʌb/)는 분산 버전 관리 툴인 깃(Git)을 사용하는 프로젝트를 지원하는 웹호스팅 서비스이다. 루비 온 레일스로 작성되었다. GitHub는 영리적인 서비스와 오픈소스를 위한 무상 서비스를 모두 제공한다. 2009년의 Git 사용자 조사에 따르면 GitHub는 가장 인기있는 Git 호스팅 사이트이다. 또한 2011년의 조사에서는 가장 인기있는 오픈 소스 코드 저장소로 꼽혔다.</p>
            </div>
        </div>
</body>

</html>
